<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskManager | {% block extra_title %}  {% endblock %} </title>
</head>
<body>
  <div>
    <h3>welcome {{request.user}} 
    <br>Want <a href="{% url 'dashboard' %}">dashboard</a> <br> Or  
    <a href="{% url 'signout' %}">signout</a> ?
    </h3>
    <h1> {% block heading %}  {% endblock %}  </h1>
    {% block content %}  {% endblock %}
  </div>
</body>
</html>